<div class="projects-grid">

  <!-- Local Projects -->
  {% for project in site.projects %}

    {%- assign project_type  = "local" -%}
    {%- assign project_id    = project.name | slugify -%}

    {%- if project.external_img -%}
      {%- assign project_img = project.external_image -%}
    {%- else -%}
      {%- assign project_img = project.image | relative_url -%}
  {%- endif -%}
  

    {%- assign project_name  = project.name -%}
    {%- assign project_desc  = project.description -%}
    {%- assign project_tools = project.tools -%}

    {%- if project.external_url -%}
      {%- assign project_url = project.external_url -%}
      {%- assign external    = true -%}
    {%- else -%}
      {%- assign project_url = project.url | relative_url -%}
      {%- assign external    = false -%}
    {%- endif -%}

    {% include projects/project-card.html %}

  {% endfor %}




</div>
